<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.tools.dao2.TestMapper">

    <select id="selectAll" resultType="com.example.tools.entity2.Test">
        select * from test limit 10
    </select>
</mapper>